/* STYYLESS */


.list {
  list-style: none;
  margin-bottom: 1rem;
  border-left: 3px solid #28a745;
  position: relative;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 40%;
}

.list:hover {
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 1s;
}

#jobsList {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

#jobsCount{
  padding: 1rem;
  margin-top: 3rem;
  display: flex;
   flex-direction: row;
  flex-wrap: wrap;
}
#zero-jobs{
  text-align: center;
  font-size: 2rem;
  padding: 3rem 0rem;
}
.remove-job {
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  align-self: flex-end;
  font-size: 2rem;
}

.view-job {
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  align-self: flex-end;

}

.vj{
   border-radius: 0.5rem;
  color: white;
background-color: #28a745;
  padding: .5rem .5rem;
    font-size: 1rem;
}

.far.fa-window-close {
  color: red;
}
.span-job {
 display: inline;
  vertical-align: middle;
}


.jt {
  /* position: absolute;
  top: 1rem; */
  display: inline;
  vertical-align: middle;
  color: grey;
  font-size: 1rem;
  margin-left: 1rem;
}

.span-com {
 display: inline;
  vertical-align: middle;
}

.com{
    display: inline;
  vertical-align: middle;
  color: grey;
  font-size: 1rem;
  margin-left: 1rem;
}

.span-loc{
   display: inline;
  vertical-align: middle;
}

.loc{
     display: inline;
  vertical-align: middle;
  color: grey;
  font-size: 1rem;
  margin-left: 1rem; 
}

.des{
  font-style: italic;
  padding-top: 1rem;
  font-size: 1rem;
}

.jobs-cont{
}

/* Jobspage styles */

.no-jobs-found{
  font-size: 2rem;
  padding: 3rem;
  color: lightgreen;
  text-align: center;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #28a745;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:  #28a745;
  text-decoration: none;
  cursor: pointer;
}

/* a job style */

.suit{
  padding-right: 1rem;
}

.build{
   padding-right: 1rem; 
}

.mark{
  margin-right: 1rem;
}