<div class="container">
     <div class="col-md-12 mb-3 mb-md-0">
            <label class="font-weight-bold" for="fullname">Title</label>
            <input
              type="text"
              id="inputCompany"
              class="form-control"
              placeholder="Title"
            />
          </div>
  <div class="row">
    <div class="col-md-12 col-lg-8 mb-5">
      <form action="#" class="p-5 bg-white">
        <div class="row form-group">
          <div class="col-md-12 mb-3 mb-md-0">
            <label class="font-weight-bold" for="fullname">Title</label>
            <input
              type="text"
              id="inputOne"
              class="form-control"
              placeholder="eg. Full Stack Frontend"
            />
          </div>
        </div>

        <div class="row form-group mb-5">
          <div class="col-md-12 mb-3 mb-md-0">
            <label class="font-weight-bold" for="fullname">Title</label>
            <input
              type="text"
              id="inputCompany"
              class="form-control"
              placeholder="Title"
            />
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-12"><h3></h3></div>
          <div class="col-md-12 mb-3 mb-md-0">
            <textarea
            placeholder="Posts"
              name=""
              id="inputDesc"
              class="form-control"
              cols="30"
              rows="5"
            ></textarea>
          </div>
        </div>

   
      </form>
    </div>
  </div>
</div>
